@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a,
a:hover{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
:root {
    --wl-primary: #144A9D;
    --wl-secondary: #6c757d;
    --wl-success: #198754;
    --wl-info: #0dcaf0;
    --wl-warning: #ffc107;
    --wl-danger: #dc3545;
    --wl-light: #f8f9fa;
    --wl-dark: #212529;
    --wl-black: #000000;
    --wl-link: #494949;
  }
body{
    font-family: "Lato", sans-serif;  
}
/* navbar style start */
.main-menu .nav-item{
    padding: 0 15px;
}
.main-menu .nav-link{
    text-transform: uppercase;
    font-size: 14px;
    color: var(--bs-white);
}
/* at-a-glance-area style start */
.at-a-glance-area{
   background: var(--bs-white);
   padding-top: 50px;
}
.at-a-glance-top-bg{
    width: 100%;
    height: 600px;
    background: var(--wl-primary);
    border-radius:0 0 34% 34%;
}
.at-a-glance-bottom-area{
    background: var(--bs-white);
    position: relative;
    z-index: 10;
    height: 400px;
    margin-top: -2px;
}
.circle-area {
    position: relative;
    max-width: 900px;
    height: 1000px;
    margin: auto;
    padding-top: 150px;    
}
.circle-area-content {
    position: relative;
}
.leaf-item {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #E8E8E8;
    border: 3px solid var(--bs-white);
    z-index: 3;
    cursor: pointer;
    position: relative;
}
.active-center-item {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    background: #CADFFF;
    border: 5px solid var(--bs-white);
    z-index: 5;
    cursor: pointer;
    position: relative;
}
.active-center-item img {
    width: 300px;
}
.leaf-item.active {
    background: #E8E8E8;
    z-index: 5;
    outline: 1px solid #82B3FF;
    outline-offset: 3px;
}
.clone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
svg {
    height: 700px;
    overflow: visible;
    width: 700px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.st0 { 
    fill: none;
    stroke:#04337A;
    stroke-width: 1;
    stroke-miterlimit:1;
}
.at-a-glance-bottom-area h2{
    font-size: 44px;
    font-weight: 800;
    line-height: 53.25px;
    text-align: center;
    color: var(--wl-primary);
    text-transform: uppercase;
    margin-top: 80px;
}
.at-a-glance-bottom-area p{
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    color: var(--wl-black);  
}
.custom-button{
    background: #144A9D;
    font-size: 19px;
    font-weight: 500;
    line-height: 22.99px;
    text-align: center;
    color: var(--wl-light);
    padding: 15px 30px;
    border-radius: 8px;
    border: 0px solid;
    text-transform: uppercase;
}
/* Fridge block style start */
.fridge-block{
    background: url(../images/fridge-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 20px 0;
    height: 950px;
}
.block-text h2{
    font-size: 28px;
    font-weight: 800;
    line-height: 33.89px;
    text-transform: uppercase;
}
.block-text p{
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
}
.block-text .custom-button{
    background: var(--wl-black);
    font-size: 19px;
    font-weight: 500;
    line-height: 22.99px;
    text-align: center;
    color: var(--wl-light);
    padding: 10px 25px;
    border-radius: 8px;
    border: 0px solid;
    text-transform: uppercase;
}
.ac-block{
    background: url(../images/ac-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 20px 0;
    height: 950px;
}
.laptop-block{
    background: url(../images/laptop-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 20px 0;
    height: 950px;
}
.mobile-block{
    background: url(../images/mobile-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 20px 0;
    height: 950px;
}
.tv-block{
    background: url(../images/tv-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 20px 0;
    height: 950px;
}
.computer-block{
    background: url(../images/computer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 20px 0;
    height: 950px;
}
.hap-block{
    background: url(../images/oven-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 20px 0;
    height: 950px;
}
.mt-50{
    margin-top: 50px;
}
.mt-100{
    margin-top: 100px;
}
.mt-150{
    margin-top: 150px;
}
/* footer-section style */
.footer-section{
    background: #EEF0F2;
    padding: 100px 0px 20px 0px;
}
.footer-section p{
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;   
    margin-bottom: 25px;
}
.footer-section i{
    font-size: 30px;
    padding-right: 15px;
}
.footer-section h3{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    color: #494949;
    text-transform: capitalize;
}
.footer-section .nav-link {
    font-family: "Inter";
    font-size: 13px;
    font-weight: 400;
    color: var(--wl-link);
    cursor: pointer;
}
.copyright-text p{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    padding: 10px 0 0 0;
}
.bottom-to-top{
    position: absolute;
    right: 0;
    bottom: 450px;
    z-index: 9999;
}
.top-button{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background: #243859;
    border: 2px solid #EAEAEA;
    padding-top: 20px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.top-button i{
    font-size: 30px;
}

/* Mega Menu style  */
.main-menu .nav-item:hover .dropdown-menu {
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: var(--wl-black);
}
.main-menu .dropdown-menu h5{
    color: var(--wl-light);
    margin-top: 10px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 11px;
}